.App {
  text-align: center;
}
body{
  margin: 0 2px 0 2px;
}
.header{
  display: flex;
  flex-direction: row;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: blueviolet;
}
.home{
  color: white;
  text-decoration: none;
}
.create{
  color: white;
  text-decoration: none;
}
.read{
  color: white;
  text-decoration: none;
}
.update{
  color: white;
  text-decoration: none;
}
.home-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: crimson;
  color: white;
  margin: 80px 0  0px 0px;
}